/* header styles */

.header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  height: 105px;
  margin: 92px 24px;
}

.header__menu {
  display: flex;
  align-items: center;
}

.header__links-list {
  display: flex;
  margin: auto;
  list-style-type: circle;
  gap: 13px;
}

.header__links-list-item {

}

.header__links-list-item_no-bullit {
  list-style-type: none;
}

.header__link {
  font-family: Raleway;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
}

.header__link_active {
  text-decoration: none;
}

.header__logo {

}

.header__logo-image {
  width: 148px;
  height: 105px;
}

.address {
  display: flex;
  flex-direction: column;
  margin: auto 0;
  font-style: normal;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
 }

.header__center {
  justify-content: center;
}

.header__right {
  justify-content: right;
}